/venv
/.venv
/.chromadb
/vendor
/.chromadb_langchain
/.env
analyzer\core\__pycache__
/analyzer/core/__pycache__
/analyzer/integrations/__pycache__
/analyzer/utils/__pycache__
/analyzer/models/__pycache__
