attr==0.3.2
chromadb==1.0.16
ConfigParser==7.2.0
cryptography==45.0.6
Cython==3.1.2
dl==0.1.0
docutils==0.18.1
docutils==0.18.1
filelock==3.18.0
HTMLParser==0.0.2
ipython==8.27.0
ipython==8.12.3
ipywidgets==7.8.1
Jinja2==3.1.6
jnius==1.1.0
keyring==24.3.1
langchain_community==0.3.27
langchain_huggingface==0.3.1
langchain_openai==0.3.29
numpy==2.3.2
protobuf==4.25.3
pydantic==2.11.7
pyOpenSSL==24.2.1
pyOpenSSL==25.1.0
python-dotenv==1.1.1
pywin32==305.1
pywin32==311
railroad==0.5.0
redis==6.4.0
Sphinx==8.2.3
thread==2.0.5
torch==2.7.1
transformers==4.53.1
trove_classifiers==2025.8.6.13
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
